<style>
    .ngdialog.ngdialog-theme-plain .ngdialog-content {
        width: 60% !important;
    }
</style>
<h3>员工管理</h3>
<div class="panel panel-default" ng-controller="EmployeeController"
     ng-class="{ 'whirl standard': isLoading,'': isLoading }">
    <div class="panel-heading">
        <div class="form-inline ng-pristine ng-valid">
            <div class="form-group">
                <input placeholder="登录名" class="form-control" type="text" ng-model="keywords">
                <button type="submit" class="btn btn-labeled btn-primary"
                        ng-click="tableParams.$params.page = 1;tableParams.reload()">
            <span class="btn-label">
            <em class="fa fa-search"></em>
            </span>搜索
                </button>
                <button type="submit" class="btn btn-labeled btn-success" ng-click="updateEntity({})">
                    <span class="btn-label">
                        <em class="fa fa-plus"></em>
                    </span>添加员工
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table ng-table="tableParams" class="table table-striped table-bproducted table-hover">
                <tbody>
                <tr ng-repeat="item in $data">
                    <td data-title="'登录名'" class="text-left" header-class="'text-left'">{{item.name}}</td>
                    <td data-title="'添加时间'" class="text-left" header-class="'text-left'" sortable="'addTime'">
                        {{item.addTime}}
                    </td>
                    <td data-title="'职位'" class="text-left" header-class="'text-left'">{{item.roleName}}</td>
                    <td data-title="''" nowrap="nowrap">
                        <button type="button" ng-click="updateEntity(item)" class="mb-sm btn">
                            编辑
                        </button>
                        <button type="button" ng-click="updatePassword(item)" class="mb-sm btn">
                            修改密码
                        </button>
                        <button type="button" ng-click="removeEntity($index,item.id)" class="mb-sm btn">
                            删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="addOrUpdateEntity">
        <div class="ngdialog-message">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" name="formValidate">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <fieldset class="b0">
                                    <legend>{{ThisEmployee.id == 0 || ThisEmployee.id == null ? '添加员工' : '修改员工信息'}}
                                    </legend>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span class="text-danger"
                                                                                    style=" font-size:  18px;font-weight:  bold; vertical-align: -5px;margin-right: 10px;">*</span>登录名</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="mallkey" required=""
                                                   ng-model="ThisEmployee.mallkey" class="form-control"
                                                   maxlength="50" autocomplete="off"/>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">商户域名</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="hostUrl" required=""
                                                   ng-model="ThisEmployee.hostUrl" class="form-control"
                                                   maxlength="50" autocomplete="off"/>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" class="btn btn-default" ng-click="closeDialog()">
                                    关闭
                                </button>
                                <button type="button" class="btn btn-default" ng-click="saveThisMessage()">
                                    确定
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message text-center">
            <h3>确定要删除吗?</h3>
            <p>删除后不可恢复!</p>
            <br/>
            <button type="button" ng-click="confirm()" class="btn btn-primary mr">确认</button>
            <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">取消</button>
        </div>
    </script>

</div>
<script>
    App.controller('EmployeeController', [
        '$scope', '$resource', '$state', '$route', 'ngDialog', '$http', 'ngTableParams', 'ngTableDataService', 'Notify', '$filter',
        function ($scope, $resource, $state, $route, ngDialog, $http, ngTableParams, ngTableDataService, Notify, $filter) {
            'use strict';
            $scope.isLoading = true;
            $scope.submitted = false;
            $scope.data = {};

            $http({
                method: "get",
                url: "/sysroles/v1"
            }).then(function successCallback(response) {
                console.log(response.data.data.results);

            }, function errorCallback(response) {
            })

            $scope.tableParams = new ngTableParams({
                page: 1,
                count: 10,
                sorting: {
                    AddTime: 'desc'     // 初始化排序
                }
            }, {
                getData: function ($defer, params) {
                    $scope.isLoading = true;
                    var requestParams = {
                        pageNum: params.page(),
                        pageSize: params.count(),
                        sort: params.orderBy(),
                        keywords: $scope.keywords
                    };

                    $http({
                        method: "get",
                        params: requestParams,
                        url: "/employees"
                    }).then(function successCallback(response) {
                        params.total(response.data.data.total);
                        $defer.resolve(response.data.data.results);
                        $scope.isLoading = false;
                    }, function errorCallback(response) {
                    });
                }
            });

            //删除
            $scope.removeEntity = function (index, id) {
                ngDialog.openConfirm({
                    template: 'modalDialogId',
                    className: 'ngdialog-theme-default'
                }).then(function (value) {
                        var url = '/employees/' + id;
                        $http({
                            method: 'delete',
                            url: url
                        }).then(function successCallback(response) {
                            if (response.data.code == 0) {
                                $scope.tableParams.reload();
                                Notify.alert('操作成功!', {status: 'success', timeout: 1000});
                            } else {
                                Notify.alert(response.data.msg, {status: 'warning', timeout: 1000});
                            }
                        }, function errorCallback(response) {
                        });
                    }, function (reason) {
                    }
                );
            }

            //新增、更新展示
            $scope.updateEntity = function (item) {
                $scope.ThisEmployee = angular.copy(item);

                ngDialog.openConfirm({
                    template: 'addOrUpdateEntity',
                    className: 'ngdialog-theme-plain',
                    scope: $scope,
                    preCloseCallback: function () {
                        $scope.myCroppedImage = undefined;
                        return true;
                    }
                }).then(function (value) {
                }, function (reason) {
                });
            }

            // 提交
            $scope.saveThisMessage = function () {
                if (!$scope.ThisEmployee.mallkey || $scope.ThisEmployee.mallkey == null) {
                    Notify.alert("请输入商户key", {status: 'warning', timeout: 1000});
                    return false;
                }

                if ($scope.ThisEmployee.id > 0) {
                    var url = "/employees/v1/" + $scope.ThisEmployee.id
                    $http({
                        method: "put",
                        data: $scope.ThisEmployee,
                        url: url
                    }).then(function successCallback(response) {
                        console.log(response);
                        if (response.data.code == 0) {
                            Notify.alert('操作成功!', {status: 'success', timeout: 1000});
                            $scope.tableParams.reload();
                            ngDialog.closeAll();
                        }
                        else {
                            Notify.alert(response.data.msg, {status: 'warning', timeout: 1000});
                        }
                    }, function errorCallback(response) {
                    });
                }
                else {
                    $http({
                        method: "post",
                        url: "/employees/v1",
                        data: $scope.ThisEmployee
                    }).then(function successCallback(response) {
                        if (response.data.code == 0) {
                            Notify.alert('操作成功!', {status: 'success', timeout: 1000});
                            $scope.tableParams.reload();
                            ngDialog.closeAll();
                        }
                        else {
                            Notify.alert(response.data.msg, {status: 'warning', timeout: 1000});
                        }
                    }, function errorCallback(response) {
                    });
                }
            };

            //返回列表
            $scope.closeDialog = function () {
                ngDialog.closeAll();
            }
        }]);
</script>