<div class="abs-center wd-xl" ng-controller="lockController">
    <!-- START panel-->
    <div class="p">

        <img ng-src="{{user.picture}}" alt="{{user.username}}" width="60" height="60"
             class="img-thumbnail img-circle center-block"/>

    </div>
    <div class="panel widget b0">
        <div class="panel-body">
            <p class="text-center">请登录解锁屏幕.</p>
            <form role="form" name="lockForm">
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" placeholder="密码" required="" name="lock_password"
                           ng-model="lock.password" class="form-control"/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span ng-show="lockForm.lock_password.$dirty &amp;&amp; lockForm.lock_password.$error.required"
                          class="text-danger">This field is required</span>
                </div>
                <div class="clearfix">
                    <div class="pull-left mt-sm">
                        <a ui-sref="page.login" class="text-muted">
                            <small>使用其他账号登入</small>
                        </a>
                    </div>
                    <div class="pull-right">
                        <!-- Change this button type to submit to send the form data-->
                        <button type="button" ng-click="login()" class="btn btn-sm btn-primary">解锁</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br/>
        <span ng-bind="app.description"></span>
    </div>
</div>