<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanejim.myweb.personaldao.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.shanejim.myweb.personalmodel.entity.SysRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="OTHER" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, add_time, modified_time, role_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllSysRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_role where is_deleted=0
  </select>
  <select id="selectByRoleName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_role where is_deleted=0 and role_name = #{roleName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shanejim.myweb.personalmodel.entity.SysRole" >
    insert into t_sys_role (id, is_deleted, add_time, 
      modified_time, role_name)
    values (#{id,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, #{addTime,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{roleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shanejim.myweb.personalmodel.entity.SysRole" >
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanejim.myweb.personalmodel.entity.SysRole" >
    update t_sys_role
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanejim.myweb.personalmodel.entity.SysRole" >
    update t_sys_role
    set is_deleted = #{isDeleted,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      role_name = #{roleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>