<h3>Orders</h3>


<div class="panel panel-default">
    <div class="panel-heading">
        Datatables |
        <small>Chaning data</small>
    </div>
    <div class="panel-body">
        <div ng-controller="OrdersController">
            <form ng-submit="addPerson()" class="form-inline">
                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                    <thead>
                    <tr>
                        <th style="width: 80px">
                            <strong>订单号</strong>
                        </th>
                        <th>
                            <strong>客户渠道</strong>
                        </th>
                        <th>
                            <strong>客户名称</strong>
                        </th>
                        <th>
                            <strong>联系人</strong>
                        </th>
                        <th>
                            <strong>联系电话</strong>
                        </th>
                        <th>
                            <strong>区域</strong>
                        </th>
                        <th>
                            <strong>送货地址</strong>
                        </th>
                        <th class="text-center">
                            <strong>发货状态</strong>
                        </th>
                        <th class="text-center">
                            <strong>打印</strong>
                        </th>
                        <th class="text-center">
                            <strong>详情</strong>
                        </th>
                        <th class="text-center">
                            <strong>删除</strong>
                        </th>
                        <th class="text-center">
                            <strong>发货</strong>
                        </th>
                        <th class="text-center">
                            <strong>审批</strong>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{order.OrderId}}</td>
                        <td>{{order.Khqd}}</td>
                        <td>{{order.Khmc}}</td>
                        <td>{{order.Lxr}}</td>
                        <td>{{order.Lxdh}}</td>
                        <td>{{order.AreaName}}</td>
                        <td>{{order.Shdz}}</td>
                        <td class="text-center">
                            <span class="label label-info">{{order.Fhzt}}</span>
                        </td>
                        <td>打印</td>
                        <td>详情</td>
                        <td>发货</td>
                        <td>审批</td>
                        <td>
                            <button type="button" ng-click="removePerson($index)" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash-o"></em>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>